* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background {
    width: 200px;
    height: 330px;
    background-color: rgb(0, 0, 0);
    z-index: 0;
    margin-left: 475px;
    margin-top: 155px;
}

img {
    width: 500px;
    height: 500px;
    z-index: 100;
    position: absolute;
    left: 400px;
    top: 100px;
}

.battery {
    width: 200px;
    height: 330px;
    position: absolute;
    background-color: green;
    margin-left: 475px;
    margin-top: -330px;
    z-index: 1;
}

.minutes, .text {
    position: absolute;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 3;
}

.minutes {
    left: 43.5%;
    top: 44%;
    font-size: 70px;
}

.text {
    left: 42.7%;
    top: 56%;
    font-size: 20px;
}