body{
    background-color: rgb(171, 204, 218);
}
.conteiner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
   
    
}
.text{
    height: 50px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.point{
    width: 250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.pulse1{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(250, 249, 248, 0.4);
    animation: pulse1 2s infinite;
  }
  
  
  @-webkit-keyframes pulse1 {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(250, 249, 248, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(250, 249, 248, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(250, 249, 248, 0);
    }
  }
  @keyframes pulse1 {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(2250, 249, 248, 0.4);
      box-shadow: 0 0 0 0 rgba(250, 249, 248, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(250, 249, 248, 0);
        box-shadow: 0 0 0 10px rgba(250, 249, 248, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(250, 249, 248, 0);
        box-shadow: 0 0 0 0 rgba(250, 249, 248, 0);
    }
  }

.pulse2{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(252, 1, 1, 0.4);
    animation: pulse2 2s infinite;
  }
  
  
  @-webkit-keyframes pulse2 {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(252, 1, 1, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(252, 1, 1, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(252, 1, 1, 0);
    }
  }
  @keyframes pulse2 {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(252, 1, 1, 0.4);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(252, 1, 1, 0);
        box-shadow: 0 0 0 10px rgba(252, 1, 1, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(252, 1, 1, 0);
        box-shadow: 0 0 0 0 rgba(252, 1, 1, 0);
    }
  }

.pulse3{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: orange;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(248, 182, 1, 0.4);
    animation: pulse3 2s infinite;
  }
  
  
  @-webkit-keyframes pulse3 {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(248, 182, 1, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(248, 182, 1, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(248, 182, 1, 0);
    }
  }
  @keyframes pulse3 {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(248, 182, 1, 0.4);
      box-shadow: 0 0 0 0 rgba(248, 182, 1, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(248, 182, 1, 0);
        box-shadow: 0 0 0 10px rgba(248, 182, 1, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(248, 182, 1, 0);
        box-shadow: 0 0 0 0 rgba(248, 182, 1, 0);
    }
  }

.pulse4{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: yellow;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(253, 249, 1, 0.4);
    animation: pulse4 2s infinite;

}
@-webkit-keyframes pulse4 {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(253, 249, 1, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(253, 249, 1, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(253, 249, 1, 0);
    }
  }
  @keyframes pulse4 {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(253, 249, 1, 0.4);
      box-shadow: 0 0 0 0 rgba(253, 249, 1, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(253, 249, 1, 0);
        box-shadow: 0 0 0 10px rgba(253, 249, 1, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(253, 249, 1, 0);
        box-shadow: 0 0 0 0 rgba(253, 249, 1, 0);
    }
  }
.pulse5{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: blue;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(17, 0, 248, 0.4);
    animation: pulse5 2s infinite;
  }
  
  
  @-webkit-keyframes pulse5 {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(17, 0, 248, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(17, 0, 248, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(17, 0, 248, 0);
    }
  }
  @keyframes pulse5 {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(17, 0, 248, 0.4);
      box-shadow: 0 0 0 0 rgba(17, 0, 248, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(17, 0, 248, 0);
        box-shadow: 0 0 0 10px rgba(17, 0, 248, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(17, 0, 248, 0);
        box-shadow: 0 0 0 0 rgba(17, 0, 248, 0);
    }
  }

.pulse6{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: lightgreen;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(21, 190, 6, 0.4);
    animation: pulse6 2s infinite;
  }
  
  
  @-webkit-keyframes pulse6 {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(21, 190, 6, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(21, 190, 6, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(21, 190, 6, 0);
    }
  }
  @keyframes pulse6 {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(21, 190, 6, 0.4);
      box-shadow: 0 0 0 0 rgba(21, 190, 6, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(21, 190, 6, 0);
        box-shadow: 0 0 0 10px rgba(21, 190, 6, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(21, 190, 6, 0);
        box-shadow: 0 0 0 0 rgba(21, 190, 6, 0);
    }
  }

.pulse7{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: blueviolet;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(167, 44, 204, 0.4);
    animation: pulse7 2s infinite;
  }
  
  
  @-webkit-keyframes pulse7 {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(167, 44, 204, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(167, 44, 204, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(167, 44, 204, 0);
    }
  }
  @keyframes pulse7 {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(167, 44, 204, 0.4);
      box-shadow: 0 0 0 0 rgba(167, 44, 204, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(167, 44, 204, 0);
        box-shadow: 0 0 0 10px rgba(167, 44, 204, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(167, 44, 204, 0);
        box-shadow: 0 0 0 0 rgba(167, 44, 204, 0);
    }
  }
.pulse8{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(10, 10, 10, 0.4);
    animation: pulse8 2s infinite;
  }
  
  
  @-webkit-keyframes pulse8 {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(10, 10, 10, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(10, 10, 10, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(10, 10, 10, 0);
    }
  }
  @keyframes pulse8 {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(10, 10, 10, 0.4);
      box-shadow: 0 0 0 0 rgba(10, 10, 10, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(10, 10, 10, 0);
        box-shadow: 0 0 0 10px rgba(10, 10, 10, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(10, 10, 10, 0);
        box-shadow: 0 0 0 0 rgba(10, 10, 10, 0);
    }
  }